* {
  font-family: 'Alexandria', sans-serif ; 
}

.home-image {
    width: 100% !important;
    height: 100%;
    z-index: -1;
    margin-bottom: -350px;
    object-fit: cover;
    mask-image: linear-gradient(to top, transparent 2%, black 80%);
  }

  .carousel-image {
    width: 100%
  }
  /* HomePage slider prev/next buttons */
  .css-1abc02a {
    position: absolute ;
    height: 39% !important;
    background-color: transparent !important;
    z-index: 1;
    height: 100px;
    width: 20px;
    top: 0%;
    right: 0;
    color: #888;
}

.css-hn784z {
  position: absolute;
  height: 39% !important;
  background-color: transparent !important;
  z-index: 1;
  top: 0;
  left: 0;
  color: #888;
}

.css-ktslay-MuiButtonBase-root-MuiIconButton-root {
  background-color: red;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

  .main-grid {
    z-index: 9999999;
  }

  .Layout_main__RGt3O {
    margin: 0; 
    padding: 0 ;
}

.MuiCard-root {
  overflow: visible !important;
}


.coupon::after {
  position: absolute;
bottom: 0;
height: 50px;
width: 32px;
right: -28px;
background: white;
content: "";
z-index: 1000;
transform: skew(-30deg);
}

.MuiButton-label {
  justify-content: center;
}

