* {
  font-family: 'Prompt', sans-serif;
}



.home-image {
    width: 100% !important;
    height: 100%;
    z-index: -1;
    margin-bottom: -350px;
    mask-image: linear-gradient(to bottom, rgb(240, 233, 233), rgba(180, 197, 226, 0));
  }

  .carousel-image {
   width: 100%
  }

  .main-grid {
    z-index: 9999999;
  }

  .Layout_main__RGt3O {
    margin: 0; 
    padding: 0 ;
}

.MuiCard-root {
  overflow: visible !important;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 55px;
  background-color: #fff;
  height: 80px !important;
  line-height: 200px !important;
  width: 45px;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  margin-top: -40px !important;
  margin-left: -10px !important;
}

.swiper-button-next {
  margin-right: 0px !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: black;
  line-height: normal;
  position: relative;
  top: 50%;
  height: 90px !important ;
  width: 25px;
  margin-top: -30px;
}

.coupon::after {
  position: absolute;
bottom: 0;
height: 50px;
width: 32px;
right: -28px;
background: white;
content: "";
z-index: 1000;
transform: skew(-30deg);
}

.MuiButton-label {
  justify-content: center;
}

.scroll-to-top {
  right: 40px;
  bottom: 40px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 7px;
  width: 100%;
  height: 40px;
  box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
  border: none;
}