.home-image {
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-bottom: -350px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .carousel-image {
   width: 100%
  }

  .main-grid {
    z-index: 9999999;
  }

  .Layout_main__RGt3O {
    margin: 0; 
    padding: 0 ;
}